<div class="menu-bar">
  <div class="Titel">SBD</div>
  <div class="buttons">
    <button routerLink="/menuBar/projectView" class="projekte">Projekte</button>
    <button routerLink="/menuBar/addProject" class="tickets">Tickets</button>
    <button routerLink="/menuBar/dailyReport" class="tagebuch">Tagebuch</button>
    <button routerLink="account" routerLinkActive="active" class="account">Account</button>
    <button routerLink="account" routerLinkActive="active" class="account">Test 1</button>
    <button routerLink="account" routerLinkActive="active" class="account">Test 2</button>
    <button routerLink="account" routerLinkActive="active" class="account">Test 3</button>
    <button routerLink="account" routerLinkActive="active" class="account">Test 4</button>

  </div>
</div>


