<div class="window-title"
        [ngStyle]="{
          width: width,
          height: height,
          minWidth: minWidth,
          maxWidth: maxWidth,
          minHeight: minHeight,
          maxHeight: maxHeight
        }">

  <!-- Obere Leiste mit Titel -->
  <div class="top-bar" [ngStyle]="{ height: topbarHeight }">
    <h1 class="title" [ngStyle]="{ color: colorText, fontSize: fontSizeHeadline }">
      {{ title }}
    </h1>
  </div>

  <!-- Inhaltlicher Bereich -->
  <section class="window-content">
    <ng-content></ng-content>
  </section>


  <div class="icon">
    <img src="assets/icons/logo.png" alt="Logo" />
  </div>

</div>
