# === macOS ===
.DS_Store

# === IDE ===
.idea/
*.iml

# === Logs ===
*.log

# === Umgebungsvariablen ===
.env
frontend/.env
backend/.env
db/.env

# === FRONTEND ===
frontend/node_modules/
frontend/dist/

# === BACKEND ===
backend/node_modules/
backend/.gradle/
backend/build/
backend/out/

# === DB ===
db/*.sqlite
db/__pycache__/
