<div class="project-card">

  <div class="project-content">
    <h3 class="project-title">{{ project.title }}</h3>
    <p class="project-detail">{{ project.detail }}</p>
    <p class="project-street">{{ project.street }}</p>
    <p class="project-pCode">{{ project.pCode }}</p>
    <p class="project-sdate">{{ project.sDate }}</p>
    <p class="project-ddate">{{ project.dDate }}</p>
  </div>

  <button class="info-button" (click)="showInfo()">
    <img src="assets/icons/info.png" alt="Info" />
  </button>

</div>
