.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  font-family: "Helvetica Neue", sans-serif;
  color:  #013063;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 80vw;
}

.project-title {
  font-weight: 400;
  margin: 0 0 0.5rem;
  font-size: 18px;
}

.project-detail,
.project-street,
.project-anPartner,
.project-pCode,
.project-sdate,
.project-ddate {
  margin: 0;
  font-size: 14px;
}


.info-button {
  background-color: #1654F7;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 60px;
  max-width: 60px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.info-button img {
  width: 25px;
  height: 25px;
}

.info-button:hover {
  background: linear-gradient(to bottom, rgb(152, 179, 246), rgb(152, 179, 246));
}
