.background {
  position: relative;
}

.window{
  position: absolute;
}

.AufgabeTitel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #91A7BA;
}

.underline-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 180%;
  height: 1px;
  background-color: #91A7BA;
}

.inputFelder {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 10px;
}

.confirmButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-button {
  position: absolute;
  top: 69%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
}


.icon-button img {
  width: 45px;
  height: 45px;
}


