<app-window-title
  [title]= titelProjekt>

  <div class="AufgabeTitel">
    <span class="underline-text">Eintrag Hinzufügen</span>
  </div>

  <div class="inputFelder">
    <app-input-field
      [placeholder]= firstPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= secondPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= thirdPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= fourthPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= fifthPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= sixthPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= seventhPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= eighthPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= ninthPlaceholder>
    </app-input-field>
    <app-input-field
      [placeholder]= tenthPlaceholder>
    </app-input-field>

    <button class="icon-button" (click)="uploadPic()" aria-label="uploadPic">
      <img src="assets/icons/camera.png" alt="camera" />
    </button>

  </div>

  <app-confirm-button
    title="ANLEGEN"
    [onClick]="saveClick">
  </app-confirm-button>

</app-window-title>






