<app-window-title [title]="titelProjekt">

  <div class="AufgabeTitel">
    <span class="underline-text">Eintrag Hinzufügen</span>
  </div>

  <div class="inputFelder">
    <app-input-field
      [placeholder]="firstPlaceholder"
      [(fieldValue)]="entryInput.creatorName">
    </app-input-field>

    <app-input-field
      [placeholder]="secondPlaceholder"
      [fieldValue]="todayDate">
    </app-input-field>

    <app-input-field
      [placeholder]="thirdPlaceholder"
      [(fieldValue)]="entryInput.calendarWeek">
    </app-input-field>

    <app-input-field
      [placeholder]="fourthPlaceholder"
      [(fieldValue)]="entryInput.companyName">
    </app-input-field>

    <app-input-field
      [placeholder]="fifthPlaceholder"
      [(fieldValue)]="entryInput.onSitePersonnelCount">
    </app-input-field>

    <app-input-field
      [placeholder]="sixthPlaceholder"
      [(fieldValue)]="entryInput.taskDescription">
    </app-input-field>

    <app-input-field
      [placeholder]="seventhPlaceholder"
      [(fieldValue)]="entryInput.notes">
    </app-input-field>

    <app-input-field
      [placeholder]="eighthPlaceholder"
      [fieldValue]="temperatureText">
    </app-input-field>

    <app-input-field
      [placeholder]="ninthPlaceholder"
      [fieldValue]="windText">
    </app-input-field>

    <app-input-field
      [placeholder]="tenthPlaceholder"
      [fieldValue]="weatherCodeText">
    </app-input-field>

    <input type="file" #hiddenFileInput style="display: none" (change)="onImageSelected($event)" />

    <button class="icon-button" (click)="triggerFileInput()" aria-label="uploadPic" type="button">
      <img src="assets/icons/camera.png" alt="camera" />
    </button>

    <div *ngIf="entryInput.image.url" class="bildVorschau">
      <img
        [src]="entryInput.image.url"
        [alt]="entryInput.image.fileName"
        style="max-width: 200px; margin-top: 10px; border-radius: 8px"
      />
      <p style="font-size: 0.9rem; color: #333;">{{ entryInput.image.fileName }}</p>
    </div>
  </div>

  <app-confirm-button
    title="ANLEGEN"
    [colorBackground] = colorButton
    [colorText]= colorText
    [onClick]="saveClick">
  </app-confirm-button>

</app-window-title>






