<div class="background">

  <div class="window">

    <app-window-title
      [title]= titelProjekt
      [minHeight]= height
      [maxHeight]= height
      [minWidth]= widht
      [maxWidth]= widht>
    </app-window-title>

    <div class="AufgabeTitel">
      <span class="underline-text">Eintrag Hinzufügen</span>
    </div>

    <div class="inputFelder">
      <app-input-field
        [placeholder]= firstPlaceholder
        [height]="'50px'"
        [maxWidth]= widhtInput
        [minWidth]= widhtInput>
      </app-input-field>
      <app-input-field
        [placeholder]= secondPlaceholder
        [height]= heightInput
        [maxWidth]= widhtInput
        [minWidth]= widhtInput>
      </app-input-field>
      <app-input-field
        [placeholder]= thirdPlaceholder
        [height]="'50px'"
        [maxWidth]= widhtInput
        [minWidth]= widhtInput>
      </app-input-field>
      <app-input-field
        [placeholder]= fourthPlaceholder
        [height]="'50px'"
        [maxWidth]= widhtInput
        [minWidth]= widhtInput>
      </app-input-field>
      <app-input-field
        [placeholder]= fifthPlaceholder
        [height]="'50px'"
        [maxWidth]= widhtInput
        [minWidth]= widhtInput>
      </app-input-field>
    </div>


    <button class="icon-button" (click)="uploadPic()" aria-label="uploadPic">
      <img src="assets/icons/camera.png" alt="camera" />
    </button>


    <div class="confirmButton">
      <app-confirm-button
      [title]="'ANLEGEN'"
      [height]= heightInput
      [minWidth]= widhtInput
      [maxWidth]= widhtInput>
      </app-confirm-button>
    </div>

  </div>





</div>


