<app-window-title
  [title]= windowTitle>

  <div class="AufgabeTitel">
    <span class="underline-text">Eintrag Hinzufügen</span>
  </div>

  <div class="inputFelder">
    <app-input-field
      [placeholder]= firstPlaceholder
      [(fieldValue)]=project.title>
    </app-input-field>
    <app-input-field
      [placeholder]= secondPlaceholder
      [(fieldValue)]=project.detail>
    </app-input-field>
    <app-input-field
      [placeholder]= thirdPlaceholder
      [(fieldValue)]=project.ansprechpartner>
    </app-input-field>
    <app-input-field
      [placeholder]= fourthPlaceholder
      [(fieldValue)]=project.pCode>
    </app-input-field>
    <app-input-field
      [placeholder]= fifthPlaceholder
      [(fieldValue)]=project.street>
    </app-input-field>
    <app-input-field
      [placeholder]= sixthPlaceholder
      [(fieldValue)]=project.sDate>
    </app-input-field>
    <app-input-field
      [placeholder]= seventhPlaceholder
      [(fieldValue)]=project.dDate>
    </app-input-field>

    <app-confirm-button
      title="ANLEGEN"
      [onClick]="saveClick">
    </app-confirm-button>

  </div>

</app-window-title>



