<main class="RegisterWindow" aria-label="Registrieren-Bereich">
  <div class="Input">
    <app-input-field
      placeholder="E-MAIL"
      [(fieldValue)]="email"
    ></app-input-field>

    <app-input-field
      placeholder="NAME"
      [(fieldValue)]="name"
    ></app-input-field>

    <app-input-field
      placeholder="PASSWORT"
      type="password"
      [(fieldValue)]="password"
    ></app-input-field>

    <app-input-field
      placeholder="PASSWORT BESTÄTIGEN"
      type="password"
      [(fieldValue)]="confirmPassword"
    ></app-input-field>

    <div class="confirmButton">
    <app-confirm-button
      [title]="'REGISTRIEREN'"
      (confirmed)="onRegister()">
    </app-confirm-button>      
    </div>

  </div>

</main>
